# dependencies
node_modules

# next
.next
.test-build
out

# local sqlite
prisma/*.db
prisma/*.db-journal

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
.env*.local
!.env.example

# typescript
*.tsbuildinfo
